:root {
  --color-black-rgb: 0, 0, 0;
  --color-black: #000;
  --color-yellow: #FFC107;
  --color-pink: #E91E63;
  --color-blue: #03A9F4;
  --color-green: #4CAF50;
  --color-orange: #FF5722;
  --font-size-base: 16px;
  --line-height-base: 1.5;
  --border-radius: 30px;
  --hover-duration: 0.5s;
}

@media screen and (max-width: 779px) {
  :root {
    --font-size-base: 13px;
  }
}

html {
  font-size: var(--font-size-base);
}

body {
  color: var(--color-black);
  background: var(--color-yellow);
  line-height: var(--line-height-base);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.5rem;
}

h3,
.h3 {
  font-size: 1.25rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: 0.875rem;
}

ul,
.ul {
  list-style: disc;
  margin-left: 1.5em;
}

img,
svg {
  vertical-align: bottom;
}

a {
  color: var(--color-orange);
  text-decoration: none;
  transition: color 0.3s;
  font-weight: bold;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-green);
  }
}

.site-wrapper {
  width: 100%;
  overflow: hidden;
}

.text-yellow {
  color: var(--color-yellow);
}

.text-pink {
  color: var(--color-pink);
}

.text-blue {
  color: var(--color-blue);
}

.text-orange {
  color: var(--color-orange);
}

.text-green {
  color: var(--color-green);
}

.text-white {
  color: #fff;
}

.text-black {
  color: var(--color-black);
}

.text-black-20 {
  color: rgba(var(--color-black-rgb), 0.2);
}

.text-black-60 {
  color: rgba(var(--color-black-rgb), 0.6);
}

.text-black-80 {
  color: rgba(var(--color-black-rgb), 0.8);
}

.bg-yellow {
  background: var(--color-yellow);
}

.bg-pink {
  background: var(--color-pink);
}

.bg-blue {
  background: var(--color-blue);
}

.bg-orange {
  background: var(--color-orange);
}

.bg-green {
  background: var(--color-green);
}

.bg-white {
  background: #fff;
}

.bg-black {
  background: var(--color-black);
}

.bg-black-20 {
  background: rgba(var(--color-black-rgb), 0.2);
}

.bg-black-60 {
  background: rgba(var(--color-black-rgb), 0.6);
}

.bg-black-80 {
  background: rgba(var(--color-black-rgb), 0.8);
}