@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black-rgb: 0, 0, 0;
  --color-black: #000;
  --color-yellow: #ffc107;
  --color-pink: #e91e63;
  --color-blue: #03a9f4;
  --color-green: #4caf50;
  --color-orange: #ff5722;
  --color-lightgray: #fafafa;
  --font-size-base: 13px;
  --line-height-base: 1.5;
  --border-radius: 30px;
  --hover-duration: 0.5s;
  --header-height: 60px;
  --spacing-x-base: 30px;
  --max-width: 1280px;
}

@media screen and (min-width: 780px) {
  :root {
    --font-size-base: 16px;
    --header-height: 100px;
  }
}

@layer components {
  .home-header {
    @apply h-0;
  }

  .home-header .header-bg {
    @apply -translate-y-full animate-show-down bg-color-yellow;
  }

  .home-header.scrolled .header-bg {
    @apply translate-y-0;
  }

  .scrolled .header-bg {
    @apply bg-color-yellow;
  }

  .gnav {
    @apply absolute top-header-sm left-0 right-0 w-full bg-white border-b-10 border-color-yellow p-spacing-x;
    height: calc(100vh - var(--header-height));
  }

  @media screen and (min-width: 780px) {
    .gnav {
      @apply static top-auto left-auto right-auto w-auto bg-transparent border-0 p-0 h-auto;
    }
  }

  .gnav.open {
    @apply block;
  }

  .nav-btn.open span:nth-child(1) {
    @apply top-3.5 rotate-[30deg];
  }

  .nav-btn.open span:nth-child(2) {
    @apply bottom-3.5 rotate-[-30deg];
  }

  .nav-btn.open span:nth-child(3) {
    @apply top-3.5 rotate-[-30deg];
  }

  .tools-container.fadeIn {
    @apply opacity-100;
  }

  .tools-container.fadeOut {
    @apply opacity-0;
  }
}

@media screen and (min-width: 780px) {
  :root {
    --font-size-base: 16px;
    --header-height: 100px;
  }
}

html {
  font-size: var(--font-size-base);
}

body {
  color: var(--color-black);
  background: var(--color-yellow);
  line-height: var(--line-height-base);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.5rem;
}

h3,
.h3 {
  font-size: 1.25rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: 0.875rem;
}

ul,
.ul {
  list-style: disc;
  margin-left: 1.5em;
}

img,
svg {
  vertical-align: bottom;
}

a,
button {
  color: var(--color-orange);
  text-decoration: none;
  transition: color 0.3s;
  font-weight: bold;
  cursor: pointer;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-green);
  }
}

.site-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.text-yellow {
  color: var(--color-yellow);
}

.text-pink {
  color: var(--color-pink);
}

.text-blue {
  color: var(--color-blue);
}

.text-orange {
  color: var(--color-orange);
}

.text-green {
  color: var(--color-green);
}

.text-white {
  color: #fff;
}

.text-black {
  color: var(--color-black);
}

.text-black-20 {
  color: rgba(var(--color-black-rgb), 0.2);
}

.text-black-60 {
  color: rgba(var(--color-black-rgb), 0.6);
}

.text-black-80 {
  color: rgba(var(--color-black-rgb), 0.8);
}

.bg-yellow {
  background: var(--color-yellow);
}

.bg-pink {
  background: var(--color-pink);
}

.bg-blue {
  background: var(--color-blue);
}

.bg-orange {
  background: var(--color-orange);
}

.bg-green {
  background: var(--color-green);
}

.bg-white {
  background: #fff;
}

.bg-gray {
  background: var(--color-lightgray);
}

.bg-black {
  background: var(--color-black);
}

.bg-black-20 {
  background: rgba(var(--color-black-rgb), 0.2);
}

.bg-black-60 {
  background: rgba(var(--color-black-rgb), 0.6);
}

.bg-black-80 {
  background: rgba(var(--color-black-rgb), 0.8);
}
