@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black-rgb: 0, 0, 0;
  --color-black: #000;
  --color-yellow: #ffc107;
  --color-pink: #e91e63;
  --color-blue: #03a9f4;
  --color-green: #4caf50;
  --color-orange: #ff5722;
  --color-lightgray: #fafafa;
  --line-height-base: 1.5;
  --border-radius: 30px;
  --hover-duration: 0.5s;
  --header-height: 60px;
  --spacing-x-base: 30px;
  --max-width: 1280px;
}

@media screen and (min-width: 768px) {
  :root {
    --header-height: 100px;
  }
}

@layer components {
  .gnav {
    @apply absolute top-header-sm left-0 right-0 w-full bg-white border-b-[10px] border-yellow p-spacing-x;
    height: calc(100vh - var(--header-height));
  }

  @media screen and (min-width: 768px) {
    .gnav {
      @apply static top-auto left-auto right-auto w-auto bg-transparent border-0 p-0 h-auto;
    }
  }

  .gnav.open {
    @apply block;
  }

  .nav-btn.open span:nth-child(1) {
    @apply top-3.5 rotate-[30deg];
  }

  .nav-btn.open span:nth-child(2) {
    @apply bottom-3.5 rotate-[-30deg];
  }

  .nav-btn.open span:nth-child(3) {
    @apply top-3.5 rotate-[-30deg];
  }

  .tools-container.fadeIn {
    @apply opacity-100;
  }

  .tools-container.fadeOut {
    @apply opacity-0;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --header-height: 100px;
  }
}

body {
  color: var(--color-black);
  background: var(--color-yellow);
  line-height: var(--line-height-base);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.5rem;
}

h3,
.h3 {
  font-size: 1.25rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: 0.875rem;
}

ul,
.ul {
  list-style: disc;
  margin-left: 1.5em;
}

img,
svg {
  vertical-align: bottom;
}

a,
button {
  color: var(--color-orange);
  text-decoration: none;
  transition: color 0.3s;
  font-weight: bold;
  cursor: pointer;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-green);
  }
}
