@import '@/styles/variables';

.container {
  padding: 100px 30px;
  @media screen and (min-width: ($BREAK_POINT * 1px)) {
    padding: 200px 30px;
  }

  &.noXPadding {
    padding-left: 0;
    padding-right: 0;
  }

  &.noYPadding {
    padding-top: 0;
    padding-bottom: 0;
  }
}