@import "@/styles/variables";

.container {
  width: 100%;
  max-width: calc(var(--max-width) + var(--spacing-x-base) * 2);
  margin: 0 auto;
  padding: 40px var(--spacing-x-base) 100px;
  @media screen and (min-width: ($BREAK_POINT * 1px)) {
    padding: 80px var(--spacing-x-base) 200px;
  }

  &.noXPadding {
    padding-left: 0;
    padding-right: 0;
  }

  &.noYPadding {
    padding-top: 0;
    padding-bottom: 0;
  }

  &.hasTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    @media screen and (min-width: ($BREAK_POINT * 1px)) {
      gap: 80px;
    }
  }
}

.ball {
  position: relative;
  &::after {
    position: absolute;
    top: 0;
    @media screen and (min-width: ($BREAK_POINT * 1px)) {
      top: calc(var(--header-height) * -1);
    }
    width: 200vw;
    max-width: 2280px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    z-index: -1;
    transition: all 1s;
    content: "";
  }
  &.center::after {
    left: 50%;
    transform: translate(-50%, -10%);
  }
  &.right::after {
    left: -100px;
    transform: translate(0, -10%);
  }
  &.pink::after {
    background-color: var(--color-pink);
  }
  &.blue::after {
    background-color: var(--color-blue);
  }
  &.green::after {
    background-color: var(--color-green);
  }

  &.isInview {
    &.center::after {
      transform: translate(-50%, 0);
    }
    &.right::after {
      transform: translate(0, 0);
    }
  }
}
