@import '@/styles/variables';

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 30px;
  @media screen and (min-width: ($BREAK_POINT * 1px)) {
    padding: 200px 30px;
  }

  &.noXPadding {
    padding-left: 0;
    padding-right: 0;
  }

  &.noYPadding {
    padding-top: 0;
    padding-bottom: 0;
  }

  &.hasTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    @media screen and (min-width: ($BREAK_POINT * 1px)) {
      gap: 100px;
    }
  }
}

.ball {
  position: relative;
  &::after {
    position: absolute;
    width: 200vw;
    max-width: 2280px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    z-index: -1;
    transition: all 1s;
    content: "";
  }
  &.center::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
  &.right::after {
    top: -100px;
    left: -100px;
    transform: translate(0, -10%);
  }
  &.pink::after {
    background-color: var(--color-pink);
  }
  &.blue::after {
    background-color: var(--color-blue);
  }
  &.green::after {
    background-color: var(--color-green);
  }

  &.isInview {
    &.center::after {
      transform: translate(-50%, -50%);
    }
    &.right::after {
      transform: translate(0, 0);
    }
  }
}