@import "@/styles/variables";

.button {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 10px 30px;
  border-radius: 100vh;
  background: var(--color-orange);
  color: #fff;
  overflow: hidden;
  span {
    position: relative;
  }
  @media (hover: hover) {
    &:hover {
      color: #fff;
    }
  }

  &:not(.isSimple) {
    display: block;
    width: 100%;
    max-width: 380px;
    padding: 20px 40px;
    font-size: 1.1rem;
    @media screen and (min-width: ($BREAK_POINT * 1px)) {
      font-size: 1.25rem;
    }
    &::before {
      position: absolute;
      top: 50%;
      left: -10px;
      transform: translate(-50%, -50%);
      background: var(--color-yellow);
      width: 80px;
      height: 80px;
      border-radius: 50%;
      transition: all var(--hover-duration);
      content: "";
    }
    @media (hover: hover) {
      &:hover {
        &::before {
          width: 100vw;
          height: 100vw;
          background: var(--color-green);
        }
      }
    }
  }
}

.largeButton {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: var(--border-radius);
  background: var(--color-yellow);
  padding: 30px 10px;
  font-size: 1.5rem;
  overflow: hidden;
  color: var(--color-black);
  @media screen and (min-width: ($BREAK_POINT * 1px)) {
    font-size: 2rem;
    min-height: 150px;
  }
  span {
    position: relative;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    content: "";
    transition: all 1s;
    background: #fff;
  }
  &.isOrange {
    color: #fff;
    &::before {
      background: var(--color-orange);
    }
  }
  svg {
    transition: all var(--hover-duration);
  }

  @media (hover: hover) {
    &:hover {
      color: #fff;
      &::before {
        width: 200%;
        background: var(--color-green);
        transition: all var(--hover-duration);
      }
      svg {
        color: #fff;
      }
    }
  }
}
