@import "@/styles/variables";

.footer {
  .head {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;

    @media screen and (min-width: ($BREAK_POINT * 1px)) {
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }

    .profile {
      display: flex;
      flex-direction: column;
      background: #fff;
      border-radius: var(--border-radius);
      padding: 30px;
      gap: 30px;
      color: var(--color-black);

      @media screen and (min-width: 1024px) {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 40px;
        max-width: 50%;
      }

      .contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width: 1024px) {
          align-items: flex-start;
        }
      }

      .img {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background: var(--color-green);
        border-radius: var(--border-radius);
        aspect-ratio: 1/1;
        width: 180px;
        min-width: 180px;
        margin: 0 auto;
      }

      .name {
        font-size: 1.5rem;
        margin-bottom: 5px;
        @media screen and (min-width: ($BREAK_POINT * 1px)) {
          font-size: 2rem;
        }
      }

      .text {
        max-width: 340px;
      }

      .links {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 10px 0 0;
        gap: 10px;
      }

      .btn {
        display: block;
        font-size: 10px;
        color: #fff;
        padding: 5px 10px;
        border-radius: 100vh;
        transition: all var(--hover-duration);
        @media (hover: hover) {
          &:hover {
            background: var(--color-green);
          }
        }
      }
    }

    .nav {
      font-size: 1.5rem;
      @media screen and (min-width: ($BREAK_POINT * 1px)) {
        font-size: 2rem;
      }
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        line-height: 1.2;
        li + li {
          display: flex;
          align-items: center;
          &::before {
            display: block;
            width: 2px;
            height: 0.8em;
            background: #fff;
            content: "";
          }
          @media screen and (min-width: ($BREAK_POINT * 1px)) {
            &::before {
              display: none;
            }
          }
        }
        @media screen and (min-width: ($BREAK_POINT * 1px)) {
          flex-direction: column;
          align-items: flex-start;
        }
      }
      a {
        display: block;
        padding: 0.25em 1em;
        &:not(:hover) {
          color: #fff;
        }
      }
    }
  }

  .bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #fff;
    border-bottom: solid 10px var(--color-yellow);
    .bottomInner {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      @media screen and (min-width: ($BREAK_POINT * 1px)) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
    .copy {
      font-weight: bold;
      font-size: 12px;
      color: var(--color-green);
    }
  }
}
