.header {
  .headerInner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .gnav {
    ul {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 60px;
      margin: 0;
    }
    a,
    button {
      &:not(:hover) {
        color: #fff;
      }
      display: flex;
      align-items: center;
      background: transparent;
      border: none;
      font-size: 1.5rem;
    }
  }
}
